

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html, body{height: 100%; width: 100%; box-sizing: border-box;}

body {
    height: 100vh;
    margin: 0;
    background-color: white;
    background-size: cover;
}

header {
    width: 100%;
    height: 8%;
    background-color: #192438;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
}
.form-busca-site {
    width: 400px;
    height: 100%;
    margin-top: 20px;
    grid-column: 2;
}

.btn-text-top {
    background-color: white;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 20px;
    color: #8795a2;
    height: 3px;
    width: 60%;
    padding: 15px 50px 15px 30px;
}

.btn-buscar-top {
    background: url(https://www.devmedia.com.br/imagens/2013/buscar_grey.png) no-repeat;
    width: 20px;
    height: 22px;
    border: none;
    position: relative;

    top: -17px;
    left: 280px;
    transform: translateY(-50%);
}
.button {
    background-color: #303333;
    color: white;
    border-radius: 10px;
    margin: 7px 7px;
    width: 35%;
    font-size: 18px;
    border: 2px solid white;
    font-size: 0.3cm;
    text-align: center;
}
button:hover {
    opacity: 0.6;
    cursor: pointer;
}
.icone_login {
    margin-right: 50px;

}

.icone_coracao{
    margin-right: 10px;
}

.icone_carrinho{
    margin-right: 10px;

}
.container {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 100%;
    height: 90%;
    background-color: rgb(219, 27, 27);
}

.sub_container_compra{
    height: 100%;
    width: 55%;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    flex-direction: column;
}

.sub_div_compra1{
background-color: rgb(255, 255, 255);
/* border: 1px solid black; */
width: 100%;
height: 10%;
display: flex;
align-items: center;

}
.sub_div_compra1>p{
    cursor: pointer;
    text-decoration: none;
    margin: 0;
    margin-left: 25px;
    font-size: 30px;
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
}

.sub_div_compra2{
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black;   */
    width: 100%;
    height: 25%;
    display: flex;
}
.div_compra2_imagem{
    height: 100%;
    width: 25%;
    /* border: 1px solid black; */
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_compra2_imagem>img{
        margin-top: 5px;
        width: 120px;
        height: 120px;
        border-radius: 10%;
}

.div_compra2_texto{
    height: 100%;
    width: 75%;
    /* border: 1px solid black; */
    background-color: rgb(255, 255, 255);
}
.div_compra2_texto>p{
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
}
.div_compra2_texto>h1{
    font-family: 'Bebas Neue', sans-serif;
}
.div_compra3_texto>h2{
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 20px;
}
.sub_div_compra3{
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black;  */
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.sub_div_compra4{
    display: flex;
}



.sub_div_compra4>a{
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 20px;
}

.div_texto5{
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black;  */
    width: 100%;
    height: 10%;
}
.div_texto5>h2{
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 20px;
}
.sub_div_compra5{
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black;  */
    width: 100%;
    height: 10%;
    display: flex;
}
.div_compra5_texto{
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: right;
}

.digite_cep{
    height: 60%;
    width: 60%;
    background-color: #ccc;
}


.div_compra5_texto>h2{
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 20px;
}
.div_compra5_cupom{
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: left;
    align-items: center;
}
.botao_calcular{
    width: 55%;
    display: flex;
    height: 70%;
    background-color: rgb(17, 101, 211);
    margin-left: 15px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}
    
.div_compra5_cupom>h2{
    font-family: 'Bebas Neue', sans-serif;
}

.sub_div_compra1{
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black;  */
    width: 100%;
    height: 19%;
    display: flex;
}
.sub_div_compra1>p{
    margin-top: 85px;
    margin-left: 30px;
}

.sub_container_pagamento{
    height: 100%;
    width: 45%;
    display: flex;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}
.area_pagamento{
    height: 85%;
    width: 90%;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    flex-direction: column;
    border-radius: 30px;
    padding: 15px;
}
.forma_pagamento1{
    height: 25%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    display: flex;
}
.forma_pagamento1>h1{
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 165px;
    margin-top: 85px;
    color: rgb(9, 131, 9);
}

.sub_total{
    height: 08%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}
.sub_total>h2{
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 165px;
}

.cupom_desconto{
    height: 08%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    display: flex;
}
.cupom_desconto>h2{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    margin-top: 15px;
    color: rgb(12, 211, 211);
    text-decoration: underline;
}
.cupom_desconto1{
    height: 100%;
    width: 55%;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}
.cupom_desconto1>h2{
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 165px;
    cursor: pointer;
}

.valor_total{
    height: 20%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    display: flex;
}
.valor_total>h1{
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 165px;
    margin-top: 60px;
}

.div_botao_finalizar{
    height: 15%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    display: flex;
}
.div_botao_finalizar>button{
    width: 350px;
    height: 80px;
    margin-left: 165px;
    color: white;
    background-color:darkgreen;
    font-size: 35px
    
}

.div_botao_escolher_produto{
    height: 15%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    display: flex;
}
.div_botao_escolher_produto>button{
    width: 350px;
    height: 80px;
    margin-left: 165px;
    color: white;
    background-color:rgb(8, 168, 168);
    font-size: 30px
}

.forma_pagamento{
    height: 100%;
    width: 33%;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.forma_pagamento>img{
height: 75px;
width: 140px;
cursor: pointer
}



.cart-item {
    height: 10%;
    width: 20%;
    display: flex;
    margin-bottom: 10px;
    justify-content: left;
  }



     .remove-btn,
    .add-btn {
     width: 30px;
     height: 30px;
    background-color: #ccc;
    border: none;
     border-radius: 50%;
     display: flex;
    justify-content: center;
     align-items: center;
     cursor: pointer;
 margin: 0 5px;
 }
        .quantity-input {
     width: 40px;
    text-align: center;
 }
 .quantity {
    display: flex;
    align-items: center;
  }

a{
    text-decoration: none;
}